.iglesiaDescription {
    background-color: inherit;
    margin: 0 auto;

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        min-height: 40em;
        background-color: #f1f4f7;
        color: black;
        margin-bottom: 2em;
        padding: 0 1em;

        img {
            object-fit: contain;
        }

        .heroText {
            display: flex;
            flex-direction: column;
            gap: 1em;
            align-items: flex-end;

            a {
                font-weight: 1em;
            }
        }

        p {
            color: rgb(80, 80, 233);
            font-weight: 900;
        }
    }

    .main {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2em 1em;
        gap: 2em;

        p {
            letter-spacing: 1px;
            line-height: 3em;
            font-weight: 500;
        }

    }

    .linksContainer {
        max-width: 1600px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 1em;
        margin: 0 auto;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            outline: 1px solid rgb(32, 160, 149);
            overflow: hidden;
            padding: 1em;

            &:hover {
                transform: scale(1.01);
                transition: transform 1s ease-in-out;

                img {
                    transform: scale(1.2);
                    transition: transform 1s ease-in-out;
                }

                p {
                    z-index: 2;
                }
            }

            p {
                letter-spacing: 1px;
            }

            img {
                object-fit: contain;
            }
        }
    }

    @media (max-width: 920px) {
        .hero {
            flex-direction: column-reverse;

            .heroText {
                align-items: flex-start;
            }
        }
    }

}