.somosContainer {

    .main {
        max-width: 1200px;
        margin: 2em auto;
    }

    .headerText {
        text-align: center;
    }

    .headerLinks {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 1.2em;
        text-align: center;
        padding: 3em 0;
        border-bottom: 1px solid black;

        img {
            object-fit: cover;
            border-radius: .4em;
            background-color: rgb(0, 0, 0);
            box-shadow: 2px 2px 5px black;
            object-position: 0 0;

            &:hover {
                transform: scale(1.007);
                transition: transform 600ms ease-in-out
            }
        }

        a {

            p {
                font-size: 1rem;
                color: rgb(63, 167, 228);
            }

            &:hover {
                color: rgba(76, 138, 173, 0.658);
            }
        }
    }

    .hero {
        height: 40vh;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}