.homeContainer {
    max-width: 1600px;
    margin: 1em auto;
    padding: 0 1em;

    .cardsContainer {
        margin: 3em 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1em;
    }
}

//slideshoow
.slide {
    border-radius: 10px;
    position: relative;
    height: 45em;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    button {
        position: absolute;
        bottom: 12%;
        left: 15%;
        color: white;
        outline: 1px solid white;

        &:hover {
            outline: 1px solid rgb(114, 114, 228);
        }
    }

    @media(max-width: 870px) {
        height: 25em;
    }
}

//card 
.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(18, 49, 45, 0.849);
    color: black;

    img {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        z-index: -1;
        filter: brightness(.8);
        transform: translate(1%);
    }

    .textContent {
        background-color: rgba(255, 255, 255, 0.842);
        padding: 2em 3em;
        position: absolute;
        bottom: 10%;
        left: 15%;
    }

    @media(max-width: 900px) {
        height: 13em;

        img {
            height: 100%;
        }

        .textContent {
            left: 9%;
            padding: 1em 2em;
        }
    }

}


//navbar

.navbarContainer {
    max-width: 1600px;
    margin: 1em auto;
    padding: 0 1em;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    position: relative;
    z-index: 9999;
    color: rgb(62, 179, 233);
    letter-spacing: 1px;

    .logo {
        cursor: pointer;
        z-index: 10002;

        img {
            object-fit: contain;
        }
    }

    .navLinks {
        display: flex;
        gap: 1.5em;
        font-weight: 700;

        .admin {
            color: rgb(75, 86, 240);
            display: flex;
            align-items: center;
            gap: 1em;
        }
    }

    .mobileNav {
        overflow: hidden;

        .hamburger {
            z-index: 99;
            text-align: left;
            font-size: 2rem;
            color: blue;
            position: fixed;
            top: .5em;
            right: 1em;
            cursor: pointer;
        }

        .menuLinks {
            display: flex;
            align-items: flex-end;
            padding-top: 5em;
            padding-right: 2em;
            position: fixed;
            flex-direction: column;
            gap: 2em;
            background-color: #f8f8f8ed;
            inset: 0 0 0 0;
            font-weight: 700;
            font-size: 24px;

            .admin {
                color: rgb(75, 86, 240);
                display: flex;
                align-items: center;
                gap: 1em;
            }

            a {
                text-align: left;
            }
        }
    }


    @media (min-width: 800px) {
        .mobileNav {
            display: none;
        }
    }

    @media (max-width: 800px) {
        .navLinks {
            display: none;
        }
    }


}

//footer
.footerContainer {
    max-width: 1600px;
    margin: 1em auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.384);
    padding: 2em 0;
    background-color: rgb(31, 30, 30);
    color: white;

    a {
        font-weight: 700;
        letter-spacing: 2px;
        font-size: .9rem;
        margin: 0 1em;

    }

    .footerLogo {
        position: relative;
    }

    .socialLinks {
        width: 300px;

        a {
            font-size: 10px;
        }
    }

    @media (max-width: 870px) {
        a {
            font-size: .6rem;
        }
    }
}